.header {
  @include display-flex(normal, center);
  grid-area: 1 / 1 / 2 / -1;
  padding: 2rem;
  box-shadow: 0 .1rem .5rem $grey;

  .header_title {
    @include size(40%, 100%);
    font-size: 2.5rem;

    .header_title-text {
      font-size: inherit;
      text-shadow: 0 0 .5rem $light-green;
      color: $light-blue;
      letter-spacing: .2rem;
    }
  }
}